.h-full {
  height: 100%!important;
}

.w-full {
  width: 100%!important;
}

.m-auto {
  margin: auto !important;
}

.m-y-16 {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.m-b-24 {
  margin-bottom: 24px !important;
}

.card-title {
  color: #555;
}

.form-field-full .form-field {
  width: 100%;
}

.form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}
