@use '@angular/material' as mat;

.app-user-panel {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  outline: none;
  background-color: var(--user-panel-background-color);
  border-radius: 0.75rem;

  &:hover,
  &:focus {
    background-color: var(--user-panel-hover-background-color);
  }
}

.app-user-panel-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
  transform-origin: 0 1.5rem;
  transition: transform mat.$private-swift-ease-out-duration mat.$private-swift-ease-out-timing-function;

  [dir='rtl'] & {
    transform-origin: 3rem 1.5rem;
  }
}

.app-user-panel-content {
  display: flex;
  align-items: center;
  
  &:first-child {
    flex-direction: row;
  }
  
  &:last-child {
    flex-direction: row;
    justify-content: center;
  }

  [dir='rtl'] & {
    margin-right: 0.75rem;
    margin-left: 0;
  }
}

.app-user-panel-info {
  flex: 1;
  margin-left: 0.75rem;
  opacity: 1;
  transition: opacity mat.$private-swift-ease-out-duration mat.$private-swift-ease-out-timing-function;

  [dir='rtl'] & {
    margin-right: 0.75rem;
    margin-left: 0;
  }

  h4,
  h5 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h4 {
    margin-bottom: 4px;
    font-size: 1rem;
    font-weight: 500;
  }

  h5 {
    font-size: 0.75rem;
    font-weight: normal;
  }
}

.user-panel-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0.5rem;
  opacity: 1;
  transition: swift-ease-out(opacity);
  white-space: nowrap;

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;

    .mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
    }
  }
}
